In [57]:
import numpy as np
import pandas as pd

ufosDf = pd.read_csv('Data/scrubbed.csv')

/Users/gastonmontes/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Luego de analizar los datos publicados en: https://www.kaggle.com/NUFORC/ufo-sightings Indicar cuál de las siguientes afirmaciones es correcta:	 

a) 	Gran Bretaña tiene mas reportes de avistajes que Canadá

b) 	Las Vegas, NV tiene un registro que aparece en el Top10 de avistajes con mayor duración en segundos para el mes de Marzo 2004.

c) 	La forma mas común en los ufos registrados es circular

d) 	El avistaje mas corto ocurrido en Marzo del 2007 ocurrió en la ciudad de Denver

In [58]:
# a) Gran Bretaña tiene mas reportes de avistajes que Canadá.
ufosCountries = ufosDf[['country']]
ufosCountries.dropna(subset = ['country'], inplace = True)
ufosCountries['count'] = 1
ufosCountries = ufosCountries.groupby(['country'], as_index = False).count()
ufosCountries = ufosCountries.sort_values(by = 'count', ascending = False)
ufosCountries

# RTA: Falso - Gran Bretaña tiene 2050 avistajes y Canada 3266.

  country  count
4      us  65114
1      ca   3000
3      gb   1905
0      au    538
2      de    105

In [59]:
# b) Las Vegas, NV tiene un registro que aparece en el Top10 de avistajes con mayor duración en segundos para el 
#    mes de Marzo 2004.
ufosLasVegas = ufosDf[['datetime', 'city', 'state', 'duration (seconds)']]

# Formateo la fecha y tomo el mes y el anio.
ufosLasVegas['datetime'] = pd.to_datetime(ufosLasVegas['datetime'], format='%m/%d/%Y %H:%M', errors='coerce')
ufosLasVegas.dropna(subset = ['datetime'], inplace = True)
ufosLasVegas['anio'] = ufosLasVegas['datetime'].apply(lambda x: x.strftime('%Y'))
ufosLasVegas['mes'] = ufosLasVegas['datetime'].apply(lambda x: x.strftime('%m'))

# Me quedo solo con los avistajes de marzo 2014.
ufosLasVegas = ufosLasVegas.loc[ufosLasVegas['anio'] == '2004', :]
ufosLasVegas = ufosLasVegas.loc[ufosLasVegas['mes'] == '03', :]

# Paso duration a un tipo numerico.
ufosLasVegas['duration'] = ufosLasVegas['duration (seconds)'].apply(pd.to_numeric, errors = 'coerse')

# Elimino la columnas que ya no me sirven.
del ufosLasVegas['mes']
del ufosLasVegas['anio']
del ufosLasVegas['datetime']
del ufosLasVegas['duration (seconds)']

# Ordeno por  duration.
ufosLasVegas = ufosLasVegas.sort_values(by = 'duration', ascending = False)

ufosLasVegas.head(10)

# RTA: Verdaderp - Para el anio 2004 y mes de Marzo el avistaje con mayor duracion fue en Las Vegas, Nevada.

                                   city state  duration
31319                         las vegas    nv  345600.0
34776  springer (nm)/colorado city (co)    co   73800.0
32704                          woodward    ok   14400.0
30886                     rockwell city    ia   14400.0
33728                   rigaud (canada)    qc   14400.0
35487                            shelby    oh   10800.0
30235                         baltimore    md   10800.0
32041                         san diego    ca   10800.0
33870                      north vernon    in   10800.0
31659       adelaide  (south australia)   NaN   10800.0